.container{
	background: #414141;
	width: 800px;
	padding-bottom: 50px;
	margin: auto;
}
h1{
	text-align: center;
	background: red;
	color: white;
}
label{
	padding: 20px;
	color: white;
	font-size: 20px;
}
input, textarea{
	width: 650px;
	padding: 15px;
	margin: 15px;
	/*text-align: center;*/
	margin-left:50px;
}

.btn-submit .btn{
	background: red;
	border-radius: 8px;
	color: white;
	padding: 15px;
	width: 650px;
}

.btn-submit .btn:hover{
	background: #fff;
	color: red;
}



.btn-submit{
	margin-top: 55px;
	text-align: center;
}


.back-home
{
	margin-top: 50px;
	padding-left: 15px;
}

.back-home a.back-to-home
{
	text-decoration: none;
	color: #fff;
}

.back-home a.back-to-home:hover
{
	opacity: .8;
	text-decoration: underline;

}
